.jumbotron {
  background-color: $dark-primary-color;
  background-image: url("/assets/images/bottom-of-jumbotron.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
  h1 {
    color: $light-text;
    width: 60%;
    margin: 0 auto;
  }

}
