/* Colors */

$dark-primary-color:  #455A64;
$primary-color:       #5F7D8B;
$light-primary-color: #CED7DB;

$accent-color:        #428FFE;

$primary-text:        #212121;
$secondary-text:      #757575;
$light-text:          #FEFEFE;



/* Fonts */
$primary-font:        Rokkitt, serif;
$header-font:         Poiret One, sans-serif;
