<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">{{title}}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>My Story</h2>
      <p>
        {{ about_me }}
      </p>

      <h2>The Next Chapter</h2>
      <p>
        {{ looking_for }}
      </p>

      <p class="text-center">
        <button type="button" class="btn btn-outline-primary btn-lg">Resume</button>
        <button type="button" class="btn btn-outline-primary btn-lg">Portfolio</button>
      </p>

    </div><!-- left column -->

    <div class="col">
      <h2>Basic Facts</h2>
      <table id="basic-facts">
        <tr *ngFor="let fact of basic_facts">
          <td>{{ fact.title }}:</td>
          <td>{{ fact.value }}</td>
        </tr>
      </table>
    </div><!-- right column -->
  </div><!-- /.row -->

  <!-- need a spacer here -->

  <h2>Recent Projects</h2>
  <div class="row">
    <div class="col">
      <img class="project-thumbnail" />
      <h4 class="text-center">Three Wooden Pigeons</h4>
    </div>
    <div class="col">
      <img class="project-thumbnail" />
      <h4 class="text-center">Girl Friend Factor</h4>
    </div>
    <div class="col">
      <img class="project-thumbnail" />
      <h4 class="text-center">The World According to Ally</h4>
    </div>
    <div class="col">
      <img class="project-thumbnail" />
      <h4 class="text-center">Learning Logs</h4>
    </div>
  </div><!-- /.row -->

</div><!-- /.container -->
